:root {
    --primary: #f2f1ef;
    --secondary: #232222;
    --accent: #9c2327;
}

body {
    margin: 0;
    font-family: Montserrat, "Times New Roman";
    display: grid;
    place-items: center;
}

* {
    font-family: inherit;
    background: var(--primary);
    color: var(--secondary);
    transition: background-color 0.2s ease-in;
    -webkit-tap-highlight-color: transparent;
}

#page-header {
    margin-top: 1rem;
}

#page-header > div {
    font-size: 2rem;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100svh;
    width: min(90%, 20rem);
    box-sizing: border-box;
}

#target-number {
    font-size: 24px;
    margin-bottom: 2rem;
}

#settings-element {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

#settings-button {
    font-size: 2rem;
    border: none;
}

#settings-panel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#settings-panel > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    align-items: flex-start;
    word-break: break-all;
}

.options {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

#settings-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.1s ease-out;
}

.big-grid {
    display: grid;
    aspect-ratio: 1/1;
    margin-inline: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    border: 2px solid black;
}

.big-grid-cell {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: relative;
}

.small-grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: var(--seconadary);
}

/* Подсветка */
.correct {
    background-color: #a8e6a1 !important; /* Зелёный */
}

.wrong {
    background-color: #f7a8a8 !important; /* Красный */
}

/* Настройки */
.grid-option,
.hint-option {
    display: inline-block;
    padding: 1rem 0.5rem;
    background-color: var(--primary);
    border-radius: 0.2rem;
    cursor: pointer;
    user-select: none;
    transition:
        background-color 0.3s,
        border 0.3s;
}

.grid-option:hover,
.hint-option:hover {
    background-color: var(--primary);
}

.grid-option.active,
.hint-option.active {
    background-color: var(--secondary);
    color: var(--primary);
}

.hint-option.active {
    background-color: var(--accent);
    color: var(--primary);
}

.border {
    border: 1px solid;
}
